@{
    ViewBag.Title = "Start";
}

    <div align="center" style="padding:20px">
        
            <a href="/">
                <img border="0" alt="" src="~/Images/Murvas.png" width="800" height="200">
            </a>
        <div>
            <h2><span class="label label-success">Din myshörna på nätet</span></h2>
        </div>
               
    </div>


